In [9]:
import pandas as pd
import ast

results_df = pd.read_csv("model_test_results.csv")
results_df['cm']

0      [[645, 184], [121, 50]]
1      [[683, 146], [147, 24]]
2      [[675, 154], [137, 34]]
3      [[687, 142], [137, 34]]
4      [[663, 166], [137, 34]]
                ...
85     [[509, 320], [103, 68]]
86     [[465, 364], [103, 68]]
87     [[599, 230], [124, 47]]
88     [[486, 343], [99,  72]]
89    [[334, 495], [ 65, 106]]
Name: cm, Length: 90, dtype: object

In [10]:
# 將 cm 轉換為 numpy 陣列
results_df['cm'] = results_df['cm'].apply(lambda x: ast.literal_eval(x))
results_df.head()

,model_name,dropout,num_attn_blocks,accuracy,cm
0,model_d0.0_b1_original_data.pth,0.0,1,0.695,"[[645, 184], [121, 50]]"
1,model_d0.0_b2_original_data.pth,0.0,2,0.707,"[[683, 146], [147, 24]]"
2,model_d0.0_b3_original_data.pth,0.0,3,0.709,"[[675, 154], [137, 34]]"
3,model_d0.0_b4_original_data.pth,0.0,4,0.721,"[[687, 142], [137, 34]]"
4,model_d0.0_b5_original_data.pth,0.0,5,0.697,"[[663, 166], [137, 34]]"

In [11]:
results_df['npv'] = results_df['cm'].apply(lambda x: x[0][0] / (x[0][0] + x[1][0]+0.0001))
results_df['recall'] = results_df['cm'].apply(lambda x: x[1][1] / (x[1][1] + x[1][0]+0.0001))
results_df['precision'] = results_df['cm'].apply(lambda x: x[1][1] / (x[1][1] + x[0][1]+0.0001))
results_df['f1'] = results_df['cm'].apply(lambda x: 2 * x[1][1] / (2 * x[1][1] + x[0][1] + x[1][0]+0.0001))

In [12]:
results_df = results_df[results_df['precision'] != 0].reset_index(drop=True)

ratio = 0.5
results_df['score'] = ratio * results_df['npv'] + (1-ratio) * results_df['recall']
results_df.sort_values(by='score', ascending=False, ignore_index=True)

,model_name,dropout,num_attn_blocks,accuracy,cm,npv,recall,precision,f1,score
0,model_d0.4_b1_original_data.pth,0.4,1,0.368,"[[241, 588], [44, 127]]",0.845614,0.742690,0.177622,0.286682,0.794152
1,model_d0.4_b2_original_data.pth,0.4,2,0.410,"[[295, 534], [56, 115]]",0.840456,0.672514,0.177196,0.280488,0.756485
2,model_d0.4_b3_original_data.pth,0.4,3,0.359,"[[244, 585], [56, 115]]",0.813333,0.672514,0.164286,0.264064,0.742924
3,model_d0.3_b6.pth,0.3,6,0.435,"[[328, 501], [64, 107]]",0.836734,0.625731,0.175987,0.274711,0.731233
4,model_d0.2_b1_original_data.pth,0.2,1,0.398,"[[289, 540], [62, 109]]",0.823362,0.637427,0.167951,0.265854,0.730394
...,...,...,...,...,...,...,...,...,...,...
83,model_d0.0_b6_smote.pth,0.0,6,0.708,"[[680, 149], [143, 28]]",0.826245,0.163743,0.158192,0.160919,0.494994
84,model_d0.2_b1_smote.pth,0.2,1,0.700,"[[673, 156], [144, 27]]",0.823745,0.157895,0.147541,0.152542,0.490820
85,model_d0.0_b4_smote.pth,0.0,4,0.681,"[[655, 174], [145, 26]]",0.818750,0.152047,0.130000,0.140162,0.485398
86,model_d0.0_b2_original_data.pth,0.0,2,0.707,"[[683, 146], [147, 24]]",0.822891,0.140351,0.141176,0.140762,0.481621
87,model_d0.2_b1.pth,0.2,1,0.731,"[[714, 115], [154, 17]]",0.822581,0.099415,0.128788,0.112211,0.460998

In [14]:
results_df[results_df['model_name']=='model_d0.0_b3.pth']

,model_name,dropout,num_attn_blocks,accuracy,cm,npv,recall,precision,f1,score
60,model_d0.0_b3.pth,0.0,3,0.659,"[[610, 219], [122, 49]]",0.833333,0.28655,0.182836,0.223235,0.559941